<ion-card color="dark" mode="md">
  <ion-card-header>
    <ion-card-subtitle>
      <span class="text-primary">{{indice + 1}}. </span>
      <span class="noticia-source-name">{{noticia.source.name}}</span>

      <div class="noticia-more">
        <ion-button (click)="lanzarMeunu()" fill="clear">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </div>
      
    </ion-card-subtitle>
    <ion-card-title (click)="abrirNoticia()">{{noticia.title}}</ion-card-title>
  </ion-card-header>

  <ion-img *ngIf="noticia.urlToImage" [src]="noticia.urlToImage" alt="NOTICIAS MX" (click)="abrirNoticia()"
            class="animated fadeIn fast"></ion-img>


  <ion-card-content>
    <p>{{noticia.description}}</p>
  </ion-card-content>
</ion-card>