<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="tab1">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Principales</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Secciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
