<ion-header [translucent]="true" no-border>
  <ion-toolbar color="dark" mode="ios"> 
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" class="ion-text-center">
  <br><br>
  <ion-label class="titulo">Noticias MX</ion-label>
  <br><br>
  <ion-img src="./assets/icon.png" href="https://newsapi.org/" class="animated fadeIn fast"></ion-img><br>
  <div>Iconos diseñados por <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div>
  <br>
  <ion-label class="labelDesarrollado">Desarrollada por:</ion-label>
  <br><br>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-label><b>Valentîn Abundo</b></ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button href="mailto:nitnelav_ah@hotmail.com" fill="clear">
          <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
        </ion-button>
        <ion-button href="https://play.google.com/store/apps/developer?id=Nitnelav+AH&hl=es" fill="clear">
          <ion-icon slot="icon-only" name="logo-google-playstore"></ion-icon>
        </ion-button>
        <ion-button href="https://wa.me/527221418583" fill="clear">
          <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <a href="https://newsapi.org/">Powered by News API</a>

</ion-content>
