<ion-grid fixed>
  <ion-row>
    <ion-col *ngFor="let noticia of noticias; let i = index" 
    size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"> 
      <app-noticia [noticia]="noticia" [indice]="i" [enFavoritos] = "enFavoritos"></app-noticia>
    </ion-col>
  </ion-row>
</ion-grid>

