<ion-header [translucent]="true" no-border>
  <ion-toolbar color="dark" mode="ios">
    <ion-title>
      Favoritos
    </ion-title>
    
    <ion-buttons slot="end">
      <app-botoninfo></app-botoninfo>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">

  <ion-slides [options]="sliderOpts" *ngIf="dataLocalService.noticias.length === 0">
    <ion-slide>
      <ion-label color="primary">No hay favoritos</ion-label>
    </ion-slide>
  </ion-slides>

  <app-noticias *ngIf="dataLocalService.noticias.length > 0" [noticias]="dataLocalService.noticias" [enFavoritos]="true"></app-noticias>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
