<ion-header [translucent]="true" no-border>
  <ion-toolbar color="dark" mode="ios">
    <ion-title>
      Secciones
    </ion-title>
    <ion-buttons slot="end">
      <ion-buttons slot="end">
        <app-botoninfo></app-botoninfo>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment scrollable mode="md" color="primary" (ionChange)="cambioCategoria( $event )">
    <ion-segment-button mode="md" 
                        *ngFor="let item of categorias; let i=index"
                        [value]="categorias[i]">
      <ion-label class="ion-text-capitalize">{{etiquetas[i]}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true" color="medium"> 

<app-noticias [noticias]="noticias" [enFavoritos]="false"></app-noticias>

<ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
