/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



// estilos propios

.alerta{
  --background: var( --ion-color-medium ) !important;
  font-size: 1.2rem;
}

.text-primary {
    color: var( --ion-color-primary ) !important;
}

.noticia-source-name{
    font-size: 12px;
    color: lightgrey;
}


.action-dark {
    background-color: var( --ion-color-dark) !important;
    color: white !important;

}


.action-dark ion-icon{
    color: var( --ion-color-primary ) !important;
}

.ios .action-sheet-icon{
    display: none !important;
}

.action-sheet-cancel.sc-ion-action-sheet-ios::after {
    background: content-box;
    /* opacity: var(--button-background-selected-opacity); */
}

.tab-selected{
    color: var( --ion-color-primary ) !important;
}

// Animaciones
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.fast {
    -webkit-animation-duration: 700ms;
    animation-duration: 700ms;
}

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  //fonts

  @font-face{
    font-family: 'Lecker';
    src: url('./assets/fonts/Lecker.ttf');
  }

  @font-face{
    font-family: 'GeosansLight';
    src: url('./assets/fonts/GeosansLight.ttf');
  }

  @font-face{
    font-family: 'Hack-Regular';
    src: url('./assets/fonts/Hack-Regular.ttf');
  }

  @font-face{
    font-family: 'LinLibertine_R';
    src: url('./assets/fonts/LinLibertine_R.ttf');
  }

  @font-face{
    font-family: 'Sanchezregular';
    src: url('./assets/fonts/Sanchezregular.otf');
  }

  @font-face{
    font-family: 'RomanSerif';
    src: url('./assets/fonts/RomanSerif.ttf');
  }

  @font-face{
    font-family: 'Nilland';
    src: url('./assets/fonts/Nilland.ttf');
  }

  @font-face{
    font-family: 'Nilland-Bold';
    src: url('./assets/fonts/Nilland-Bold.ttf');
  }

  @font-face{
    font-family: 'BebasNeue-Regular';
    src: url('./assets/fonts/BebasNeue-Regular.ttf');
  }

  
*{
    font-family: 'BebasNeue-Regular';
}