<ion-header [translucent]="true" no-border>
  <ion-toolbar color="dark" mode="ios">
    <ion-title>
      Noticias MX
    </ion-title>
    <ion-buttons slot="end">
      <ion-buttons slot="end">
        <app-botoninfo></app-botoninfo>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
  
  <app-noticias [noticias]="noticias" [enFavoritos]="false"></app-noticias>


  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
